<?import rel_prefix, modsort, files ?>

		<section class="hero-unit">
			<h1 class="[?call klass.type ?]"><?call klass.full_name ?></h1>
		</section>

		<div class="file-metadata">
			<p class="filename">Filename: <code><?call klass.file ?></code></p>
		</div>

		<section class="description">
			<?call klass.description ?>
		</section>

		<?for section, constants, attrs in klass.each_section ?>
		<!-- Section: [?pp section ?] -->
		<section id="<?call section.aref ?>" class="documentation-section">
			<?if section.title ?>
			<header>
				<h2><?call section.title ?></h2>
				<span class="section-click-top">
					<a href="#top">&uarr; top</a>
				</span>
			</header>
			<?end if ?>

		    <?if section.comment ?>
		    <section class="description">
				<?call section.description ?>
		    </section>
		    <?end if ?>

			<?if constants.any?{|c| c.display? } ?>
			<!-- Constants -->
			<section class="constants-list">
				<header>
					<h3>Constants</h3>
				</header>
				<dl>
				<?for const in constants.select {|c| c.display? } ?>
					<dt id="[?call const.name ?]"><?call const.name ?></dt>
					<?if const.comment ?>
					<dd class="description"><?call const.description.strip ?></dd>
					<?else ?>
					<dd class="description missing-docs">(Not documented)</dd>
					<?end ?>
				<?end ?>
				</dl>
			</section>
			<?end ?>

			<?if attrs.any?{|a| a.display? } ?>
			<!-- Attributes -->
			<section class="attributes-list">
				<header>
					<h3>Attributes</h3>
				</header>
				<dl>
				<?for attrib in attrs.select {|a| a.display? } ?>
					<dt id="[?call attrib.aref ?]"><?call attrib.name ?><span
						class="attribute-access-type">[<?call attrib.rw ?>]</span></dt>
					<?if attrib.comment ?>
					<dd class="description"><?call attrib.description.strip ?></dd>
					<?else ?>
					<dd class="description missing-docs">(Not documented)</dd>
					<?end ?>
				<?end ?>
				</dl>
			</section>
			<?end if ?>

			<!-- Methods -->
			<?for scope, visibilities in klass.methods_by_type( section ) ?>
				<!-- Scope: [?pp scope ?] -->
			<?for visibility, methodlist in visibilities ?>

			<?unless methodlist.empty? ?>
			<section id="<?attr visibility ?>-<?attr scope ?>-<?call
				section.aref ?>-method-details" class="method-list">
				<header>
					<h3><?call visibility.to_s.capitalize ?> <?call scope.capitalize ?> Methods</h3>
				</header>

				<?for method in methodlist ?>
				<div id="<?call method.aref ?>" class="method-detail[?if method.is_alias_for
					?] method-alias[?end if ?]">

					<header>
						<span class="method-click-advice">click to toggle source</span>
					<?if method.call_seq ?>
						<?for call_seq, i in method.call_seq.strip.split("\n") ?>
						<span class="method-callseq">
							<?escape call_seq.strip.gsub( /^\w+\./m, '').gsub(/[-=]>/, '&rarr;') ?>
						</span>
						<?end for ?>
					<?else ?>
						<span class="method-name"><?escape method.name ?></span>
						<span class="method-args"><?escape method.param_seq ?></span>
					<?end if ?>
					</header>

					<div class="method-description">
					<?if method.comment ?>
						<?call method.description.strip ?>
					<?else ?>
						<p class="missing-docs">(Not documented)</p>
					<?end ?>

					<?if method.token_stream ?>
						<div class="method-source-code" id="<?call method.html_name ?>-source">
							<pre><?call method.markup_code ?></pre>
						</div>
					<?end ?>
					</div>

					<?unless method.aliases.empty? ?>
					<div class="aliases">
						Also aliased as:
						<?for aka in method.aliases ?>
							<?if aka.parent ?>
							<a href="[?call klass.aref_to(aka.path) ?]"><?escape aka.name ?></a>
							<?else ?>
							<?escape aka.name ?>
							<?end if ?><?unless aka == method.aliases.last ?>, <?end unless ?>
						<?end for ?>
					</div>
					<?end ?>

					<?if method.is_alias_for ?>
					<div class="aliases">
						Alias for: <a href="[?call klass.aref_to( method.is_alias_for.path ) 
							?]"><?escape method.is_alias_for.name ?></a>
					</div>
					<?end if ?>
				</div>
				<?end for ?>

			</section>
			<?end unless ?>

			<?end for ?>
			<?end for ?>

		</section>
		<?end for ?>

<pre>
<?pp klass ?>
</pre>

