<?import rel_prefix, modsort, files ?>

		<div class="file-metadata">
			<p class="filename">Filename: <code><?call file.name ?></code></p>
		</div>

		<section>
			<?call file.description ?>
		</section>

