<?import rel_prefix, modsort, files ?>

		<section class="hero-unit">
			<?attr synopsis ?>
			<p><a class="btn btn-primary btn-large" 
				href="[?call mainpage.path ?]">Learn more &raquo;</a></p>
		</section>

		<!-- Indexes -->
		<section id="indexes" class="row">
			<div class="span4">
				<ul id="class-index" class="nav nav-list">
					<li class="nav-header">Classes/Modules</li>
				<?for index_class in modsort.select( &:documented? ) ?>
					<li><a href="[?attr rel_prefix ?]/[?call index_class.path ?]"><?call 
						index_class.full_name ?></a></li>
				<?end for ?>
				</ul>
			</div>

			<div class="span4">
				<ul id="method-index" class="nav nav-list">
					<li class="nav-header">Methods</li>
				<?for method in all_methods ?>
					<li class="method"><a title="[?call method.parent.full_name ?]" 
						href="[?call method.path ?]"><?call method.pretty_name ?></a></li>
				<?end for ?>
				</ul>
			</div>

			<div class="span4">
				<ul id="file-index" class="nav nav-list">
					<li class="nav-header">Files</li>
				<?for file in files.select {|f| f.text? }.sort ?>
					<li class="file"><a href="[?call file.path ?]"><?escape file.page_name ?></a></li>
				<?end for ?>
				</ul>
			</div>

		</section>
