<?import rel_prefix, modsort, files ?>

		<header class="hero-unit">
			<hgroup>
				<?if klass.parent ?>
				  <?if klass.parent.respond_to?(:module?) ?>
				<h2 class="namespace"><?call klass.parent.full_name ?>::</h2>
				  <?end if ?>
				<?end if ?>
				<?if klass.in_files.empty? ?>
				<h1 class="[?call klass.type ?]"><?call klass.name ?></h1>
				<?else?>
				<h1 class="[?call klass.type ?]"
					rel="popover"
					data-original-title="In files"
					data-content="[?call klass.in_files.map {|f| f.full_name }.join(',') ?]"
					><?call klass.name ?></h1>
				</p>
				<?end if ?>
			</hgroup>
			<span class="label"><?call klass.type ?></span>
		</header>

		<section class="description">
			<?call klass.description ?>
		</section>

		<?for section, constants, attrs in klass.each_section ?>
		<section id="<?call section.aref ?>" class="documentation-section">
			<?if section.title ?>
			<header>
				<h2><?call section.title ?></h2>
				<span class="section-click-top">
					<a href="#top">&uarr; top</a>
				</span>
			</header>
			<?end if ?>

		    <?if section.comment ?>
		    <section class="description">
				<?call section.description ?>
		    </section>
		    <?end if ?>

			<?if constants.any?{|c| c.display? } ?>
			<!-- Constants -->
			<section class="constants-list">
				<header>
					<h3>Constants</h3>
				</header>
				<dl>
				<?for const in constants.select {|c| c.display? } ?>
					<dt id="[?call const.name ?]"><i class="icon-generic"></i><?call const.name ?></dt>
					<?if const.comment ?>
					<dd class="description"><?call const.description.strip ?></dd>
					<?else ?>
					<dd class="description missing-docs">(Not documented)</dd>
					<?end ?>
				<?end ?>
				</dl>
			</section>
			<?end ?>

			<?if attrs.any?{|a| a.display? } ?>
			<!-- Attributes -->
			<section class="attributes-list">
				<header>
					<h3>Attributes</h3>
				</header>
				<dl>
				<?for attrib in attrs.select {|a| a.display? } ?>
					<dt id="[?call attrib.aref ?]"><i class="icon-generic"></i><?call attrib.name ?><span
						class="attribute-access-type">[<?call attrib.rw ?>]</span></dt>
					<?if attrib.comment ?>
					<dd class="description"><?call attrib.description.strip ?></dd>
					<?else ?>
					<dd class="description missing-docs">(Not documented)</dd>
					<?end ?>
				<?end ?>
				</dl>
			</section>
			<?end if ?>

			<!-- Methods -->
			<?for scope, visibilities in klass.methods_by_type( section ) ?>
			<?for visibility, methodlist in visibilities ?>

			<?unless methodlist.empty? ?>
			<section class="[?attr visibility ?]-methods [?attr scope ?]-methods methods">
				<header>
					<h3><?call visibility.to_s.capitalize ?> <?call scope.capitalize ?> Methods</h3>
				</header>

				<?for meth in methodlist ?>
				<a name="[?call meth.aref ?]">anchor</a>
				<div id="<?call meth.aref ?>-doc" class="method[?if meth.is_alias_for
					?] method-alias[?end if ?]">

					<header>
						<i class="icon-generic"></i>
					<?if meth.call_seq ?>
						<?for call_seq, i in meth.call_seq.strip.split("\n") ?>
						<span class="method-callseq">
							<?escape call_seq.strip.gsub( /^\w+\./m, '').gsub(/[-=]>/, '&rarr;') ?>
						</span>
						<?end for ?>
					<?else ?>
						<span class="method-name"><?escape meth.name ?></span><span 
							class="method-args"><?escape meth.param_seq ?></span>
					<?end if ?>
					</header>

					<div class="method-description">
					<?if meth.comment ?>
						<?call meth.description.strip ?>
					<?else ?>
						<p class="missing-docs">(Not documented)</p>
					<?end ?>

					<?if meth.token_stream ?>
						<div class="method-source-code" id="[?call meth.html_name ?]-source">
							<pre class="prettyprint linenums"><code 
								class="language-ruby"><?call meth.markup_code ?></code></pre>
						</div>
					<?end ?>
					</div>

					<?unless meth.aliases.empty? ?>
					<div class="aliases">
						Also aliased as:
						<?for aka in meth.aliases ?>
							<?if aka.parent ?>
							<a href="[?call klass.aref_to(aka.path) ?]"><?escape aka.name ?></a>
							<?else ?>
							<?escape aka.name ?>
							<?end if ?><?unless aka == meth.aliases.last ?>, <?end unless ?>
						<?end for ?>
					</div>
					<?end ?>

					<?if meth.is_alias_for ?>
					<div class="aliases">
						Alias for: <a href="[?call klass.aref_to( meth.is_alias_for.path ) 
							?]"><?escape meth.is_alias_for.name ?></a>
					</div>
					<?end if ?>
				</div>
				<?end for ?>

			</section>
			<?end unless ?>

			<?end for ?>
			<?end for ?>

		</section>
		<?end for ?>

