/**
 * Fivefish CSS
 * $Id$
 *
 * Authors:
 * - Michael Granger <ged@FaerieMUD.org>
 */

@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic&subset=latin,latin-ext);

@import url(bootstrap.min.css);
body {
	font-family: 'Istok Web';
	padding-top: 45px;
}
@import url(bootstrap-responsive.min.css);

/* Page header */
h2.namespace {
	color: #666;
}

div.container > header.hero-unit {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(#c9c9c9),
		color-stop(0.701, #d8d8d8),
		to(#c6c6c6) );
	background-image: -moz-linear-gradient(
		90deg, #c9c9c9 0%, #d8d8d8 70.1%, #c6c6c6 100%);
}

/* Butt the popover up to the right of the word */
div.container > header.hero-unit h1 {
	display: inline-block;
	text-shadow: 1px 1px 3px rgba( 25,25,25, 0.2 );
}

/* Indexes */
section#indexes {
	max-height: 460px;
}
section#indexes ul.nav-list {
	max-height: 440px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #f5f5f5;
}

section#indexes a .method-parent {
	color: #666;
	font-size: 11px;
	font-variant: small-caps;
}

/* Class/module description */
section.description p {
	font-size: 1.2em;
	margin: 1em 0;
}
section.description p + p {
	margin: 1em 0;
}
section.description h2 {
	margin-top: 1.5em;
}


/* :section: groups */
section.documentation-section {
	margin-top: 3em;
}
section .section-click-top {
	float: right;
}

dl.rdoc-list {
	margin: 0.5em 1em;
	background: #f5f5f5;
	padding: 1em;
	border-radius: 1em;
}
section.constants-list dt i {
	margin-right: 0.5em;
	background-position: -24px -72px;
}
section.attributes-list dt i {
	margin-right: 0.5em;
	background-position: -456px -96px;
}
dl.rdoc-list dd,
section.constants-list dd,
section.attributes-list dd {
	margin: 0 0 1em;
}
dd > p:first-child {
	margin-top: 0;
}


/* "Public instance methods" + method list */
section.methods + section.methods {
	margin-top: 3em;
}
section.public-methods div.method header i {
	background-position:0 -96px;
	margin-top: 4px;
}
section.protected-methods div.method header i {
	background-position:-24px -96px;
	margin-top: 4px;
}



/* Individual method */
div.method {
}
div.method + div.method {
	margin-top: 1em;
}
div.method header,
dl.rdoc-list dt,
section.constants-list dt,
section.attributes-list dt {
	font-weight: bold;
	font-size: 1.2em;
	background: #eee;
}
div.method header span.method-args {
	color: #666;
}
div.method div.method-description p {
	color: #666;
}


/* @group Source Code */

div.method-source-code {
	display: none;
}
div.method-source-code pre,
pre.ruby {
	overflow: auto;
	background: -moz-linear-gradient(90deg, #424242 0%, #363636 100%), #262626;
	color: #ccc;
	padding: 0.5em;
	border-radius: 5px;
	background: -webkit-gradient(linear, left bottom, left top, from(#424242), to(#363636)), #262626;
	border-style: inset;
	border-width: 3px;
}

.description pre {
	margin: 0 0.4em;
}

.ruby-constant   { color: #7fffd4; background: transparent; }
.ruby-keyword    { color: #00ffff; background: transparent; }
.ruby-ivar       { color: #eedd82; background: transparent; }
.ruby-operator   { color: #00ffee; background: transparent; }
.ruby-identifier { color: #ffe780; background: transparent; }
.ruby-node       { color: #ffa07a; background: transparent; }
.ruby-comment    { color: #d22e2e; background: transparent;	font-style: italic; }
.ruby-regexp     { color: #ffa07a; background: transparent; }
.ruby-value      { color: #7fffd4; background: transparent; }
.ruby-string     { color: #ffa963; background-color: rgba(190, 190, 190, 0.15); }

/* @end */


div.file-metadata {
	float: right;
}


/* Don't show DIVs for modal dialogs at startup */
.modal {
	display: none;
}



/*
 Part of the jquery.dropdowns plugin
 by Cory LaViska
 http://labs.abeautifulsite.net/jquery-dropdown/
 */
.dropdown-menu {
	font: 14px sans-serif;
	position: absolute;
	z-index: 9999999;
	display: none;
}

.dropdown-menu UL {
	min-width: 160px;
	list-style: none;
	background: #FFF;
	border: solid 1px #DDD;
	border: solid 1px rgba(0, 0, 0, .2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	overflow: visible;
	padding: 4px 0;
	margin: 0;
}

.dropdown-menu.has-tip {
	margin-top: 8px;
}

.dropdown-menu.has-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.dropdown-menu.has-tip.anchor-right:before {
	left: auto;
	right: 9px;
}

.dropdown-menu.has-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}

.dropdown-menu.has-tip.anchor-right:after {
	left: auto;
	right: 10px;
}


.dropdown-menu.has-scroll ul {
	max-height: 558px;
	overflow: auto;
}

.dropdown-menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 18px;
}

.dropdown-menu li > a,
.dropdown-menu label {
	display: block;
	color: #555;
	text-decoration: none;
	line-height: 18px;
	padding: 3px 15px;
	white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu label:hover {
	background-color: #08C;
	color: #FFF;
	cursor: pointer;
}

.dropdown-menu .divider {
	height: 1px;
	background: #E5E5E5;
	margin: 5px 1px;
	overflow: hidden;
}

/* Keep the .caret from Bootstrap's dropdowns 'cause it looks nifty */
.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
	border-top-color: white;
	border-bottom-color: white;
}
.dropdown-toggle .caret {
	margin-top: 8px;
	margin-left: 2px;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid black;
	opacity: 0.3;
	filter: alpha(opacity=30);
	content: "";
}

